@charset "utf-8";

//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390;  // スマホ用のカンプ幅
$pc-full-width: 1536;    // PC用のカンプ幅
$pc-content-width: 1100; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ:
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット:
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC:
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 1;


//-----------------------------------------------------
//  scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
    @content;
    }
}
//-----------------------------------------------------
//  scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }
    @return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }
    @return calc($px * 100vw / $pc-full-width);
}

// 下記でmin/max関数をScssの関数ではなくcssの関数として出力するためのラッパー
@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

  // vwで動作し、pxで頭打ちにする関数
@function mvw($px) {
    @if $production !=1 {
      @return $px * 1px;
    }

    $value1: vwt($px);
    $value2: px2Rem($px);

    @if $px>=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}

/*!
global
------------------------------
*/

/* color */
$white: #fff;
$black: #000;
$azureblue: #0071ce;
$palegreen: #f4ffe8;
$paleblue: #C6f0fe;
$darkgrey: #444;
$mintgreen: #00afbf;
$palegrey:#eee;
$paleblue-light: #dbf7f9;
$lightgrey: #00000029;
$palepurple: #f0f4ff;
$blacksecond: #111;
$bgreen: #5dd5ab;
$greenblue: #46c4db;

/* font */
$font-base: "Noto Serif JP", serif;
$font-en1: "EB Garamond", sans-serif;
$font-en2: "Marcellus", sans-serif;

/*!
foundation > base
------------------------------
*/
body {
    color: $black;
    font-family: $font-base;
    font-size: vw(14);
    line-height: 1.4;
}
/*!
component > button
------------------------------
*/
.button {
    width: vw(300);
    height: vw(58);
    border-radius: vw(34);
    display: grid;
    place-items: center;
    color: $white;
    font-size: vw(18);
    margin: 0 auto;

    @include mq() {
        margin: 0;
        width: mvw(300);
        height: mvw(58);
        font-size: mvw(18);
    }
    &--primary {
        background-color: $greenblue;
        &:hover {
            border: 1px solid $greenblue;
            background-color: $white;
            color: $greenblue;
        }
    }
    &--secondary {
        background-color: $bgreen;
        &:hover {
            background-color: $white;
            color: $bgreen;
            border: 1px solid $bgreen;
        }
    }
}
/*!
component > section-title
------------------------------
*/
.section__title {
    text-align: center;
    margin-bottom: vw(36);
    @include mq() {
        margin-bottom: mvw(40);
    }
    &--en {
        font-family: $font-en1;
        font-size: vw(30);
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1;
        margin-bottom: vw(4);
        @include mq() {
            font-size: mvw(45);
            margin-bottom: mvw(13);
        }
    }
    &--jp {
        font-size: vw(16);
        font-weight: 600;
        @include mq() {
            font-size: mvw(20);
        }
    }
}
/*!
component > cta
------------------------------
*/
.cta {
    margin-bottom: vw(50);
    @include mq() {
        margin: mvw(48) 0;
        padding: 0 mvw(20);
    }
    &__container {
        width: vw(358);
        height: vw(261);
        background-color: $palepurple;
        margin: 0 auto;
        padding: vw(20) vw(29) vw(34) ;
        text-align: center;

        @include mq() {
            display: flex;
            width: 100%;
            max-width: mvw(1000);
            height: mvw(146);
            padding: mvw(44) mvw(48);
            justify-content: space-between;
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        @include mq() {
            margin-right: mvw(10);
        }
    }
    &__title {
        font-size: vw(18);
        font-weight: 600;
        letter-spacing: 0.1em;
        color: $blacksecond;
        margin-bottom: vw(5);
        @include mq() {
            font-size: mvw(24);
            margin-bottom: mvw(8);
        }
    }
    &__price {
        font-size: vw(14);
        color: $blacksecond;
        letter-spacing: 0.1em;
        margin-bottom: vw(20);
        @include mq() {
            margin-bottom: 0;
            font-size: mvw(16);
            text-align: left;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        gap: vw(20);
        @include mq() {
            flex-direction: row;
            gap: mvw(32);
        }
    }
}

/*!
component > accordion-panel
------------------------------
*/
.accordion__panel {
    background-color: $white;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: vw(20);
    &:nth-of-type(1) .accordion__content {
        display: block;
    }
    @include mq() {
        width: 100%;
        max-width: mvw(600);
        margin: 0 auto mvw(28);
    }
}
.accordion__header {
    padding: vw(20) vw(16) vw(19);
    cursor: pointer;
    display: flex;
    @include mq() {
        padding: mvw(25) mvw(24) mvw(24);
        align-items: center;
        line-height: 1;
    }
}
.accordion__header-question {
    font-family: $font-en1;
    font-size: vw(16);
    margin-right: vw(12);
    flex-shrink: 0;
    width: fit-content;
    @include mq() {
        font-size: mvw(18);
        margin-right: mvw(16);
    }
}
.accordion__header-text {
    font-size: vw(15);
    margin-right: vw(16);
    @include mq() {
        font-size: mvw(15);
        margin-right: auto;
    }
}
.accordion__header-icon img {
    width: fit-content;
    height: vw(6.5);
    flex-shrink: 0;
    @include mq() {
        width: mvw(12);
        height: mvw(7.7);
        vertical-align: middle;
        margin-left: auto;
    }
}
.accordion__header-icon img.active {
    transform: rotate(180deg);
}
.accordion__content {
    display: none;
}
.accordion__content-container {
    display: flex;
    padding: 0 vw(16) vw(33);
    @include mq() {
        padding: 0 mvw(24) mvw(24) mvw(26);
    }
}
.accordion__content-answer {
    font-family: $font-en1;
    font-size: vw(16);
    margin-right: vw(16);
    flex-shrink: 0;
    width: fit-content;
    @include mq() {
        font-size: mvw(18);
        margin-right: mvw(15);
    }
}
.accordion__content-text {
    font-size: vw(15);
    @include mq() {
        font-size: mvw(15);
    }
}
/*!
header
------------------------------
*/
.header {
    background-image: url("/assets/image/main_visual_sp_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: vw(390);
    height: vw(450);
    padding-top: vw(24);
    margin-bottom: vw(157);
    @include mq() {
        background-image: url(/assets/image/main_visula_pc_01.jpg);
        width: 100%;
        height: mvw(720);
        padding-top: mvw(32);
        margin-bottom: 0;
        object-fit: cover;
    }
}
.header__logo img {
    display: block;
    width: vw(143);
    height: vw(30);
    margin: 0 auto;
    @include mq() {
        width: mvw(166);
        height: mvw(35);
    }
}
/*!
title
------------------------------
*/
.title {
    margin-top: vw(360);
    @include mq() {
        margin-top: mvw(100);
    }
}
.title__container {
    padding: 0 vw(23);
    @include mq(md) {
        max-width: mvw(1100);
        margin: 0 auto;
        padding: mvw(103) 0 0 mvw(20);
    }
}
.title__main {
    font-size: vw(41);
    font-family: $font-en2;
    letter-spacing: 0.3em;
    @include mq() {
        font-size: mvw(50);
    }
}
.title__sub {
    font-size: vw(20);
    letter-spacing: 0.3em;
    @include mq() {
        font-size: mvw(25);
    }
}
/*!
mass
------------------------------
*/
.mass {
    background-image: url(/assets/image/mass_Visual_sp_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: vw(390);
    height: vw(680);
    padding: vw(48) vw(16);
    color: $white;
    @include mq() {
        background-image: url(/assets/image/mass_visual_pc_01.jpg);
        width: 100%;
        height: mvw(550);
        padding: mvw(127) 0;
    }
}
.mass__container {
    @include mq() {
        max-width: mvw(1015);
        margin: 0 auto;
        display: grid;
        justify-content: end;

    }
}
.mass__title {
    text-align: center;
    margin-bottom: vw(15);
    @include mq() {
        text-align: left;
        margin-bottom: mvw(17);
    }
}
.mass__maintitle {
    font-family: $font-en1;
    font-size: vw(30);
    font-weight: 700;
    margin-bottom: vw(8);
    @include mq() {
        font-size: mvw(38);
        margin-bottom: mvw(8);
    }
}
.mass__subtitle {
    font-size: vw(24);
    font-weight: 600;
    @include mq() {
        font-size: mvw(24);
    }
}
.mass__text {
    font-size: vw(14);
    line-height: 2.2;
    @include mq() {
        font-size: mvw(14);
        width: mvw(429);
    }
}
/*!
voices
------------------------------
*/
.voices {
    padding: {
        top: vw(55);
        bottom: vw(50);
    }
    @include mq() {
        padding: {
            top: mvw(88);
            bottom: mvw(80);
            left: mvw(10);
            right: mvw(10);
        }
    }
}

/*! slide-item
------------------------------
*/
.slide {
    margin: 0 auto;
    @include mq() {
        // max-width: mvw(1156);
        
    }
}

.slide-container {
    @include mq() {
        max-width: mvw(1156);
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding: 0 mvw(40);
    }
}
.slide-item {
    width: vw(280);
    height: vw(344);
    background-color: $paleblue-light;
    padding: vw(28) vw(15);
    margin: 0 vw(55) vw(10);
    @include mq() {
        height: mvw(388);
        padding: mvw(40) mvw(16) mvw(4);
        margin: 0 mvw(45);
    }
}
.prev-arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    width: vw(32);
    height: vw(32);
    z-index: 10;
    @include mq() {
        cursor: pointer;
        width: mvw(48);
        height: mvw(48);
        left: mvw(-40);
        transform: translateY(mvw(-22));
    }
}
.next-arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    width: vw(32);
    height: vw(32);
    @include mq() {
        cursor: pointer;
        width: mvw(48);
        height: mvw(48);
        right: mvw(-40);
        transform: translateY(mvw(-22));
    }
}

.slick-dots {
    @include mq() {
        bottom: mvw(-35);
    }
}
.slick-dots li {
    width: vw(8);
    @include mq(md) {
        width: mvw(8);
    }
}
.slick-dots li button::before {
    font-size: vw(9);
    color: $palegrey;
    opacity: 1;
    @include mq() {
        font-size: mvw(12);
    }
}
.slick-dots li.slick-active button:before{
    color: $mintgreen;
}


.slide-item__head {
    margin-bottom: vw(20);
    @include mq() {
        margin-bottom: mvw(16);
    }
}
.slide-item__img {
    display: flex;
    justify-content: center;
    margin-bottom: vw(8);
    @include mq() {
        margin-bottom: mvw(8);
    }
}
.slide-item__img img {
    width: vw(80);
    height: vw(80);
    border-radius: 50%;
    @include mq() {
        width: mvw(100);
        height: mvw(100);
    }
}
.slide-item__name {
    font-size: vw(14);
    text-align: center;
    @include mq() {
        font-size: mvw(15);
    }
}
.slide-item__body {
    font-size: vw(14);
    line-height: 2;
    @include mq() {
        font-size: mvw(14);
    }
}

/*!
faq
------------------------------
*/
.faq {
    background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
    padding: {
        top: vw(50);
    }
    @include mq() {
        padding: {
            top: mvw(53);
        }
    }
}
.accordion {
    padding: vw(37) vw(16) vw(32);
    margin-bottom: vw(50);
    @include mq() {
        padding: 0 mvw(16) mvw(40);
        margin-bottom: mvw(48);
    }
}

// back-to-top
//----------------------------
.back-to-top {
    width: mvw(40);
    height: mvw(40);
    position: sticky;
    bottom: 10px;
    left: 90%;
    transform: translateY(-100%);
    cursor: pointer;
    z-index: 10;
    &:hover {
        opacity: .6;
    }
    @include mq() {
        transform: translateY(-60%);
    }
}


/*!
footer
------------------------------
*/
.footer {
    height: vw(165);
    background-color: $azureblue;
    padding: vw(24);
    color: $white;
    @include mq() {
        height: mvw(104);
        padding: mvw(32) mvw(20);
    }
}
.footer__container {
    margin: 0 auto;
    text-align: center;
    @include mq() {
        display: flex;
        justify-content: center;
        gap: mvw(100);
        align-items: center;
    }
}
.footer

.footer__title img{
    display: block;
    width: vw(166);
    margin: 0 auto;
    margin-bottom: vw(24);
    @include mq() {
        width: mvw(190);
        height: mvw(40);
        margin: 0;
    }
}
.footer__nav {
    display: flex;
    justify-content: center;
    gap: vw(30);
    font-size: vw(12);
    margin-bottom: vw(25);
    @include mq() {
        font-size: mvw(14);
        gap: mvw(32);
        margin: 0;
    }
}
.footer__nav--item {
    @include mq() {
        &:hover {
            opacity: .6;
        }
    }
}
.footer__copyright {
    font-size: var(11);
    @include mq() {
        font-size: mvw(12);
    }
}