/*!
global
------------------------------
*/
/* color */
/* font */
/*!
foundation > base
------------------------------
*/
html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: "Noto Serif JP", serif;
  font-size: 3.5897435897vw;
  line-height: 1.4;
}

/*!
component > button
------------------------------
*/
.button {
  width: 76.9230769231vw;
  height: 14.8717948718vw;
  border-radius: 8.7179487179vw;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 4.6153846154vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .button {
    margin: 0;
    width: min(25vw, 18.75rem);
    height: min(4.8333333333vw, 3.625rem);
    font-size: min(1.5vw, 1.125rem);
  }
}
.button--primary {
  background-color: #46c4db;
}
.button--primary:hover {
  border: 1px solid #46c4db;
  background-color: #fff;
  color: #46c4db;
}
.button--secondary {
  background-color: #5dd5ab;
}
.button--secondary:hover {
  background-color: #fff;
  color: #5dd5ab;
  border: 1px solid #5dd5ab;
}

/*!
component > section-title
------------------------------
*/
.section__title {
  text-align: center;
  margin-bottom: 9.2307692308vw;
}
@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: min(3.3333333333vw, 2.5rem);
  }
}
.section__title--en {
  font-family: "EB Garamond", sans-serif;
  font-size: 7.6923076923vw;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .section__title--en {
    font-size: min(3.75vw, 2.8125rem);
    margin-bottom: min(1.0833333333vw, 0.8125rem);
  }
}
.section__title--jp {
  font-size: 4.1025641026vw;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .section__title--jp {
    font-size: min(1.6666666667vw, 1.25rem);
  }
}

/*!
component > cta
------------------------------
*/
.cta {
  margin-bottom: 12.8205128205vw;
}
@media screen and (min-width: 768px) {
  .cta {
    margin: min(4vw, 3rem) 0;
    padding: 0 min(1.6666666667vw, 1.25rem);
  }
}
.cta__container {
  width: 91.7948717949vw;
  height: 66.9230769231vw;
  background-color: #f0f4ff;
  margin: 0 auto;
  padding: 5.1282051282vw 7.4358974359vw 8.7179487179vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cta__container {
    display: flex;
    width: 100%;
    max-width: min(83.3333333333vw, 62.5rem);
    height: min(12.1666666667vw, 9.125rem);
    padding: min(3.6666666667vw, 2.75rem) min(4vw, 3rem);
    justify-content: space-between;
  }
}
.cta__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .cta__text {
    margin-right: min(0.8333333333vw, 0.625rem);
  }
}
.cta__title {
  font-size: 4.6153846154vw;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #111;
  margin-bottom: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .cta__title {
    font-size: min(2vw, 1.5rem);
    margin-bottom: min(0.6666666667vw, 0.5rem);
  }
}
.cta__price {
  font-size: 3.5897435897vw;
  color: #111;
  letter-spacing: 0.1em;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .cta__price {
    margin-bottom: 0;
    font-size: min(1.3333333333vw, 1rem);
    text-align: left;
  }
}
.cta__button {
  display: flex;
  flex-direction: column;
  gap: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .cta__button {
    flex-direction: row;
    gap: min(2.6666666667vw, 2rem);
  }
}

@media screen and (min-width: 768px) {
  .cta--second {
    margin-bottom: 0;
  }
}

/*!
component > accordion-panel
------------------------------
*/
.accordion__panel {
  background-color: #fff;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 5.3846153846vw;
}
.accordion__panel:nth-of-type(1) .accordion__content {
  display: block;
}
@media screen and (min-width: 768px) {
  .accordion__panel {
    width: 100%;
    max-width: min(50vw, 37.5rem);
    margin: 0 auto min(2.3333333333vw, 1.75rem);
  }
}

.accordion__header {
  padding: 5.1282051282vw 4.1025641026vw 3.3333333333vw;
  cursor: pointer;
  display: flex;
}
@media screen and (min-width: 768px) {
  .accordion__header {
    padding: min(2vw, 1.5rem) min(2vw, 1.5rem) min(2vw, 1.5rem);
    align-items: center;
    line-height: 1;
  }
}

.accordion__header-question {
  font-family: "EB Garamond", sans-serif;
  font-size: 4.1025641026vw;
  margin-right: 3.0769230769vw;
  flex-shrink: 0;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .accordion__header-question {
    font-size: min(1.5vw, 1.125rem);
    margin-right: min(1.3333333333vw, 1rem);
  }
}

.accordion__header-text {
  font-size: 3.8461538462vw;
  margin-right: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .accordion__header-text {
    font-size: min(1.25vw, 0.9375rem);
    margin-right: auto;
  }
}

.accordion__header-icon img {
  width: fit-content;
  height: 1.6666666667vw;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .accordion__header-icon img {
    width: min(1vw, 0.75rem);
    height: min(0.6416666667vw, 0.48125rem);
    vertical-align: middle;
    margin-left: auto;
  }
}

.accordion__header-icon.active {
  transform: rotate(180deg);
}

.accordion__content {
  display: none;
}

.accordion__content-container {
  display: flex;
  padding: 0 4.1025641026vw 8.4615384615vw;
}
@media screen and (min-width: 768px) {
  .accordion__content-container {
    padding: 0 min(2vw, 1.5rem) min(2vw, 1.5rem) min(2.1666666667vw, 1.625rem);
  }
}

.accordion__content-answer {
  font-family: "EB Garamond", sans-serif;
  font-size: 4.1025641026vw;
  margin-right: 3.0769230769vw;
  flex-shrink: 0;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .accordion__content-answer {
    font-size: min(1.5vw, 1.125rem);
    margin-right: min(1.25vw, 0.9375rem);
  }
}

.accordion__content-text {
  font-size: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .accordion__content-text {
    font-size: min(1.25vw, 0.9375rem);
  }
}

/*!
header
------------------------------
*/
.header {
  background-image: url("/assets/image/main_visual_sp_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 115.3846153846vw;
  padding-top: 6.1538461538vw;
  margin-bottom: 40.2564102564vw;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(/assets/image/main_visula_pc_01.jpg);
    width: 100%;
    height: min(60vw, 45rem);
    padding-top: min(2.6666666667vw, 2rem);
    margin-bottom: 0;
    object-fit: cover;
  }
}

.header__logo img {
  display: block;
  width: 36.6666666667vw;
  height: 7.6923076923vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__logo img {
    width: min(13.8333333333vw, 10.375rem);
    height: min(2.9166666667vw, 2.1875rem);
  }
}

/*!
title
------------------------------
*/
.title {
  margin-top: 92.3076923077vw;
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: min(8.3333333333vw, 6.25rem);
  }
}

.title__container {
  padding: 0 5.8974358974vw;
}
@media screen and (min-width: 768px) {
  .title__container {
    max-width: min(91.6666666667vw, 68.75rem);
    margin: 0 auto;
    padding: min(8.5833333333vw, 6.4375rem) 0 0 min(1.6666666667vw, 1.25rem);
  }
}

.title__main {
  font-size: 10.5128205128vw;
  font-family: "Marcellus", sans-serif;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 768px) {
  .title__main {
    font-size: min(4.1666666667vw, 3.125rem);
  }
}

.title__sub {
  font-size: 5.1282051282vw;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 768px) {
  .title__sub {
    font-size: min(2.0833333333vw, 1.5625rem);
  }
}

/*!
mass
------------------------------
*/
.mass {
  background-image: url(/assets/image/mass_Visual_sp_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 174.358974359vw;
  padding: 12.3076923077vw 4.1025641026vw;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .mass {
    background-image: url(/assets/image/mass_visual_pc_01.jpg);
    width: 100%;
    height: min(45.8333333333vw, 34.375rem);
    padding: min(10.5833333333vw, 7.9375rem) 0;
  }
}

@media screen and (min-width: 768px) {
  .mass__container {
    max-width: min(84.5833333333vw, 63.4375rem);
    margin: 0 auto;
    display: grid;
    justify-content: end;
  }
}

.mass__title {
  text-align: center;
  margin-bottom: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .mass__title {
    text-align: left;
    margin-bottom: min(1.4166666667vw, 1.0625rem);
  }
}

.mass__maintitle {
  font-family: "EB Garamond", sans-serif;
  font-size: 7.6923076923vw;
  font-weight: 700;
  margin-bottom: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .mass__maintitle {
    font-size: min(3.1666666667vw, 2.375rem);
    margin-bottom: min(0.6666666667vw, 0.5rem);
  }
}

.mass__subtitle {
  font-size: 6.1538461538vw;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .mass__subtitle {
    font-size: min(2vw, 1.5rem);
  }
}

.mass__text {
  font-size: 3.5897435897vw;
  line-height: 2.2;
}
@media screen and (min-width: 768px) {
  .mass__text {
    font-size: min(1.1666666667vw, 0.875rem);
    width: min(35.75vw, 26.8125rem);
  }
}

/*!
voices
------------------------------
*/
.voices {
  padding-top: 14.1025641026vw;
  padding-bottom: 8.7179487179vw;
}
@media screen and (min-width: 768px) {
  .voices {
    margin: 0 auto;
    padding-top: min(7.3333333333vw, 5.5rem);
    padding-bottom: min(6.3333333333vw, 4.75rem);
    padding-left: min(0.8333333333vw, 0.625rem);
    padding-right: min(0.8333333333vw, 0.625rem);
  }
}

/*! slide-item
------------------------------
*/
.slide {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .slide {
    max-width: 1000px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .slide-container {
    margin: 0 auto;
    position: relative;
    padding: 0 min(3.3333333333vw, 2.5rem);
  }
}

.slide-item {
  width: 71.7948717949vw;
  height: 88.2051282051vw;
  background-color: #dbf7f9;
  padding: 7.1794871795vw 3.8461538462vw;
  margin: 0 14.1025641026vw 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .slide-item {
    max-width: min(25vw, 18.75rem);
    height: min(32.3333333333vw, 24.25rem);
    padding: min(3.3333333333vw, 2.5rem) min(1.3333333333vw, 1rem) min(0.3333333333vw, 0.25rem);
    margin-left: min(1.25vw, 0.9375rem);
    margin-right: min(1.5833333333vw, 1.1875rem);
    margin-bottom: min(0.4166666667vw, 0.3125rem);
  }
}

.prev-arrow {
  position: absolute;
  top: 49%;
  left: min(1.3333333333vw, 1rem);
  width: 8.2051282051vw;
  height: 8.2051282051vw;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .prev-arrow {
    cursor: pointer;
    width: min(4vw, 3rem);
    height: min(4vw, 3rem);
    left: max(-6.5vw, -4.875rem);
    transform: translateY(max(-1.8333333333vw, -1.375rem));
  }
}

.next-arrow {
  position: absolute;
  top: 49%;
  right: 4.1025641026vw;
  width: 8.2051282051vw;
  height: 8.2051282051vw;
}
@media screen and (min-width: 768px) {
  .next-arrow {
    cursor: pointer;
    width: min(4vw, 3rem);
    height: min(4vw, 3rem);
    right: max(-6.5vw, -4.875rem);
    transform: translateY(max(-1.8333333333vw, -1.375rem));
  }
}

.slick-dots {
  bottom: max(-1.8333333333vw, -1.375rem);
  left: max(-0.3333333333vw, -0.25rem);
}
@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: max(-2.9166666667vw, -2.1875rem);
  }
}

.slick-dots li {
  width: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .slick-dots li {
    width: min(0.6666666667vw, 0.5rem);
  }
}

.slick-dots li button::before {
  font-size: 2.3076923077vw;
  color: #eee;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .slick-dots li button::before {
    font-size: min(1vw, 0.75rem);
  }
}

.slick-dots li.slick-active button:before {
  color: #00afbf;
}

.slide-item__head {
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .slide-item__head {
    margin-bottom: min(1.3333333333vw, 1rem);
  }
}

.slide-item__img {
  display: flex;
  justify-content: center;
  margin-bottom: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .slide-item__img {
    margin-bottom: min(0.6666666667vw, 0.5rem);
  }
}

.slide-item__img img {
  width: 20.5128205128vw;
  height: 20.5128205128vw;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .slide-item__img img {
    width: min(8.3333333333vw, 6.25rem);
    height: min(8.3333333333vw, 6.25rem);
  }
}

.slide-item__name {
  font-size: 3.5897435897vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slide-item__name {
    font-size: min(1.25vw, 0.9375rem);
  }
}

.slide-item__body {
  font-size: 3.5897435897vw;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .slide-item__body {
    font-size: min(1.3333333333vw, 1rem);
  }
}

/*!
faq
------------------------------
*/
.faq {
  background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
  padding-top: 9.7435897436vw;
}
@media screen and (min-width: 768px) {
  .faq {
    padding-top: min(4.4166666667vw, 3.3125rem);
  }
}

.accordion {
  padding: 0 4.1025641026vw 4.1025641026vw;
  margin-bottom: 12.8205128205vw;
}
@media screen and (min-width: 768px) {
  .accordion {
    padding: 0 min(1.3333333333vw, 1rem) min(1vw, 0.75rem);
    margin-bottom: min(4vw, 3rem);
  }
}

.back-to-top__container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 4.1025641026vw;
  height: fit-content;
  position: sticky;
  left: 0;
}
@media screen and (min-width: 768px) {
  .back-to-top__container {
    max-width: min(102.5833333333vw, 76.9375rem);
  }
}

.back-to-top__button {
  display: block;
  width: 40px;
  cursor: pointer;
  z-index: 10;
}
.back-to-top__button:hover {
  opacity: 0.6;
}

.back-to-top__button img {
  vertical-align: bottom;
}

/*!
footer
------------------------------
*/
.footer {
  height: 42.3076923077vw;
  background-color: #0071ce;
  padding: 6.1538461538vw;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 104px;
    padding: min(2.6666666667vw, 2rem) min(1.6666666667vw, 1.25rem);
  }
}

.footer__container {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    gap: min(13.1666666667vw, 9.875rem);
    align-items: center;
  }
}

.footer__title img {
  display: block;
  width: 42.5641025641vw;
  margin: 0 auto;
  margin-bottom: 8.4615384615vw;
  margin-top: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .footer__title img {
    width: min(15.8333333333vw, 11.875rem);
    height: min(3.3333333333vw, 2.5rem);
    margin: 0;
  }
}

.footer__nav {
  display: flex;
  justify-content: center;
  gap: 7.6923076923vw;
  font-size: 3.0769230769vw;
  margin-bottom: 5.641025641vw;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    font-size: min(1.1666666667vw, 0.875rem);
    gap: min(4.4166666667vw, 3.3125rem);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav--item:hover {
    opacity: 0.6;
  }
}

.footer__copyright {
  font-size: var(11);
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: min(1vw, 0.75rem);
  }
}/*# sourceMappingURL=style.css.map */